#imgContainer {
  border: 1px solid black;
  height: 90vh;
  width: 100%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

#backgroundImg {
  position: absolute;

  opacity: 75%;
  object-fit: fill;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.backgroundTitle {
  z-index: 2;
  color: white;
  margin-bottom: 2rem;
  font-size: 4em;
}
.text {
  z-index: 2;
  color: white;
  /* margin: 1em; */
  font-weight: 500;
}
.navBar {
  opacity: 50%;
  z-index: 2;
}
.navTitle {
  border: 4px solid black;
  padding: 2px;
}
#backPosition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  height: 100%;
}
.danger {
  width: 13em;
  margin-top: 1rem;
}
