.iconContainer {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 2em;
  flex-wrap: wrap;
}
.iconItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.para {
  width: 20em;
}
