#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainPart {
  display: flex;
  justify-content: center;
  margin-top: 6em;
  flex-wrap: wrap;
}

.imgContainer {
  border: 1px solid rgb(146, 144, 144);
  height: 20em;
  width: 30em;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
#mainImage {
  position: absolute;
  /* opacity: 75%; */
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.textContainer {
  border: 1px solid rgb(146, 144, 144);
  height: 20em;
  width: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#mainStoryContainer {
  margin-top: 4em;
  /* height: 30em; */
  /* width: 65vw; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.storyContainer {
  height: 15em;
  width: 20em;
  margin: 1.5em;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.62);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.62);
}
.stories {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
