.mainPart {
  display: flex;
  justify-content: center;
  margin-top: 6em;
  flex-wrap: wrap;
}

.imgContainer {
  border: 1px solid black;
  height: 20em;
  width: 30em;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
#mainImage {
  position: absolute;
  /* opacity: 75%; */
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.textContainer {
  border: 1px solid black;
  height: 20em;
  width: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#mainStoryContainer {
  height: 40em;
  width: 40em;
}
.storyContainer {
  height: 10em;
  width: 10em;
}
.stories {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
